#DATA TYPE & STRUCTURE

1. What are data structures, and why are they important?
 - Data structure is a way of organizing and storing the data so that it can be accessed and manuplated easily.
 - Data structures are important because they help us organize and store data in a way that makes it easier to access, modify, and use efficiently. The right data structure improves the performance of a program, saves memory, and makes solving complex problems much simpler. Without them, even simple tasks could become slow and messy.

2. Explain the difference between mutable and immutable data types with examples.
- Mutable
  - It can be changed after creation (elements can be modified, added, or removed).
  - The object’s memory address remains the same, even if contents change.
  - For examples: list, dictionary, set etc
  
- Immutable
  - Once created, you can’t change it. If you try, Python makes a new object
  - That means a new memory address is given on modification.
  - Examples: int, float, string, tuple, frozenset.

3. What are the main differences between lists and tuples in Python?
- List
  - Mutable (we can change, add, or remove elements).
  - Takes slightly more memory.
  - Slower in execution compared to tuples.
  - Cannot be used as dictionary keys.
  - Example: my_list = [1, 2, 3]
- Tuple
  - Tuples are immutable
  - More memory-efficient.
  - Faster in execution.
  - Can be used as dictionary keys.
  - Example: my_tuple = (1, 2, 3)

 4. Describe how dictionaries store data?
 - dictionary stores data in the from of key and value pair. Where value can be modified but keys can not.

5. Why might you use a set instead of a list in Python
- Sets don’t allow duplicates, while lists do.
- Sets are faster when we just need to check if something exists.
- stes make math-like operations (union, intersection, difference) very easy.
- sets can be used when the order of elements doesn’t matter.

 6. What is a string in Python, and how is it different from a list.
 - A string in Python is a sequence of characters enclosed in quotes ("hello" or 'world'). It’s mainly used to store and work with text.

- A list, on the other hand, is a collection that can hold different types of items (numbers, strings, even other lists) and is written with square brackets ([1, "apple", 3.5]).
- A string is specifically for text and its characters are immutable (can’t be changed directly), while a list is more flexible, can store mixed data, and you can modify its elements.

7. How do tuples ensure data integrity in Python?
- Tuples in Python help ensure data integrity because they are immutable — once we create a tuple, we can’t change, add, or remove its elements.

- This means the data inside a tuple stays safe and consistent throughout the program, making it a good choice when we want to store information that should never be altered (like dates, coordinates, or configuration values).

8. What is a hash table, and how does it relate to dictionaries in Python.
- A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index from a key, which tells it exactly where to store or find the corresponding value in an array.
- A Python dictionary is a direct implementation of a hash table.
- The dictionary's key is passed through the built-in hash() function to find its storage location.

9. Can lists contain different data types in Python.
- Yes, they can.

10. Explain why strings are immutable in Python.
- Strings in Python are immutable, because once a string is created, it cannot be changed.

11. What advantages do dictionaries offer over lists for certain tasks?
-  Lists in Python

    - A list is an ordered collection of items that can store multiple values of different data types (integers, strings, floats, etc.).

  - Lists are indexed, meaning each element has a specific position starting from 0.

  - They are mutable, so we can add, remove, or modify elements easily.

  - Lists are ideal when the order of items matters or when we frequently need to iterate through elements.


- Dictionaries in Python

  - A dictionary is an unordered collection of data stored as key-value pairs.

  - Unlike lists, dictionaries allow us to access data directly using a key instead of relying on index positions.

  - They are also mutable, meaning we can add, update, or delete key-value pairs.

  - Dictionaries are better when we need fast lookups, associating values with unique identifiers, or mapping relationships between data.

- Key Advantage:

  - Lists are better for sequential data where the order matters.

  - Dictionaries are better for fast data retrieval when we need to search by a unique key instead of scanning the entire structure.

12. Describe a scenario where using a tuple would be preferable over a list?
- A tuple would be preferable over a list when we need to store a fixed collection of data that should not be changed throughout the program.
- for example :
  - If we are building a program to store the geographical coordinates of a city, then tuple is preferable because Coordinates should never change accidentally during program execution.

13. How do sets handle duplicate values in Python.
- In Python, sets automatically remove duplicate values. When we add duplicate elements to a set, Python stores only one unique instance of each value.

14. How does the “in” keyword work differently for lists and dictionaries?

- For Lists:
  - in checks if a value exists inside the list.
  - It performs a linear search, so time complexity is O(n).
- For Dictionaries:
  - in checks if a key exists in the dictionary, not the value.
  - Searching for keys is faster because dictionaries use hashing — time complexity is O(1) on average.

15. Can you modify the elements of a tuple? Explain why or why not?
- We can not modify elements of a tuple because it is immutable data stucture.

16. What is a nested dictionary, and give an example of its use case?
- When we define (make) a dictionary inside another dictionary then it is called nested dictionary.
- It is used because it allows us to store hierarchical or structured data in a compact form.
- For example :
  - Nested dictionaries are useful when we need to represent complex structured data like -

  1.   Student database (ID → details)
  2.   E-commerce data (Product → specifications)
  3.   JSON-like hierarchical data

17. Describe the time complexity of accessing elements in a dictionary.
- Average and best case time complexity in O(1) (constant time).
- Worst case time complexity is O(n), which happens rarely, when many keys have the same hash (hash collisions).
- Python internally resolves collisions using techniques like open addressing, so performance degradation is uncommon.

 18. In what situations are lists preferred over dictionaries?

 - Situations Where Lists Are Preferred Over Dictionaries in Python
  - When Order Matters
  - When keys are not neede
  - For Sequential Data (Best suited when you have a collection of items that are logically ordered, like names, scores, or dates).
  - When Index-Based Access Is Required (Lists allow accessing elements directly using their index positions).
  - there are many more situations where list is prefred ob=ver dictionaries.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- dictionaries are considerd unordered in python because
  - Dictionaries store data as key-value pairs, and elements are not accessed by position but by their keys. Hence, there is no inherent index like in lists.
  - In versions before Python 3.7, dictionaries didn’t preserve the insertion order, so iterating over them could return items in a random order.
  - Since dictionaries are key-based, we cannot retrieve values using numerical positions like we do with lists.

 20. Explain the difference between a list and a dictionary in terms of data retrieval?

- Access Method
  - List → Elements are accessed using index positions.
  - Dictionary → Elements are accessed using unique keys.
- Index vs. Key
  - List → Retrieval requires knowing the index of the element.
  - Dictionary → Retrieval requires knowing the key associated with the value.
- Time Complexity
  - List → Accessing by index → O(1), but searching by value → O(n).
  - Dictionary → Accessing by key → O(1) on average.
- Data Organization
  - List → Stores data in an ordered sequence.
  - Dictionary → Stores data as key-value pairs, without relying on order (in - Python 3.7+, insertion order is preserved).
- Use Case
  - List → Best when you need to store ordered items and access by position.
  - Dictionary → Best when you need fast retrieval using unique identifiers.

#Prcatical Questions

 1.Write a code to create a string with your name and print it.

In [ ]:

name = input("Enter your name: ").strip()

print("My name is:", name)

Enter your name :Prateek
My name is: Prateek

2. Write a code to find the length of the string "Hello World".

In [1]:
a = "Hello World"
length = len(a)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming.

In [1]:
a = "Python Programming"
print(a[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [2]:
lower_str = "hello"
upper_str = lower_str.upper()
print(upper_str)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple.

In [3]:
org_str = "I like apple"
print(org_str)
new_str = org_str.replace("apple", "orange")
print(new_str)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
b = []
n = 1
while n<=5:
  b.append(n)
  n += 1
print(b)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [10]:
lst1 = [1,2,3,4]
lst1.append(10)
print(lst1)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [11]:
lst2 =[1, 2, 3, 4, 5]
lst2.remove(3)
print(lst2)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [13]:
lst3 = ['a', 'b', 'c', 'd']
print(lst3[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [15]:
lst4 = [10, 20, 30, 40, 50]
lst4 = lst4[::-1]
print(lst4)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [1]:
tup1 = (100, 200, 300)
print(tup1)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [2]:
tup2 = ('red', 'green', 'blue', 'yellow')
print(tup2[1:])

('green', 'blue', 'yellow')

 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [3]:
tup3=(10, 20, 5, 15)
minimum=min(tup3)
print(minimum)

5

 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [25]:
animal = ('dog', 'cat', 'rabbit')
ir = animal.index('cat')
print(ir)

1

 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [26]:
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [27]:
set1 = {'a', 'b', 'c'}
print(set1)

{'a', 'b', 'c'}

 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [31]:
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [32]:
set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [34]:
set5= {1, 2, 3}
set6= {3, 4, 5}
set5=set5.union(set6)
print(set5)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [35]:
inter1 = {1, 2, 3}
inter2 = {2, 3, 4}
inter3 = inter1.intersection(inter2)
print(inter3)

{2, 3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city, and print it.

In [36]:
dictionary = {"name": "John", "age": 30, "city": "New York"}
print(dictionary)

{'name': 'John', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [37]:
dict1 = {'name': 'John', 'age': 25}
dict1["country"] = "USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [38]:
dict2 =   {'name': 'Alice', 'age': 30}
print(dict2["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [43]:
dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict3["age"]
print(dict3)

{'name': 'Bob', 'city': 'New York'}

In [45]:
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4.pop("age")
print(dict3)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [46]:
dict5={"name": "Alice", "city": "Paris"}
if "city" in dict5:
  print("city exists")
else:
  print("city does not exist")

city exists

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [47]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Creating a dictionary
my_dict = {
    "name": "Voldemort",
    "age": 999999,
    "course": "Wizard"
}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Voldemort', 'age': 999999, 'course': 'Wizard'}

 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

In [52]:
import random
random_list = []
for i in range(5):
    random_list.append(random.randint(1, 100))
print(f"ramdom list is: {random_list}")
random_list.sort()
print(f"after sorting: {random_list}")

ramdom list is: [52, 52, 74, 20, 71]
after sorting: [20, 52, 52, 71, 74]

28. Write a code to create a list with strings and print the element at the third index.

In [4]:
str_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(str_list[2])

cherry

 29. Write a code to combine two dictionaries into one and print the result.

In [59]:
d1 = {"animal":"cat","fruit":"apple"}
d2 = {"fruit":"banana","city":"LA"}
d1 = {**d1, **d2}
print(d1)

{'animal': 'cat', 'fruit': 'banana', 'city': 'LA'}

 30. Write a code to convert a list of strings into a set.

In [5]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
string_set = set(string_list)
print(string_set)

{'apple', 'banana', 'date', 'cherry', 'elderberry'}